<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sezioni Contratte</title>
    <style>
        /* Stile per il titolo della sezione */
        .section-title {
            cursor: pointer;
            padding: 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            font-weight: bold;
        }

        /* Stile per il contenuto della sezione */
        .section-content {
            display: none; /* Nasconde il contenuto inizialmente */
            padding: 10px;
            border: 1px solid #ccc;
            border-top: none; /* Evita doppio bordo con il titolo */
        }

        /* Stile quando la sezione è espansa */
        .section-content.open {
            display: block; /* Mostra il contenuto */
        }
        textarea {
            width: 50%;
            min-height: 10h;
            resize: vertical;
        }
        input::placeholder, textarea::placeholder {
    color: #888;  /* Grigio chiaro */
    font-style: italic;  /* Per farlo sembrare più come un suggerimento */
        }
    </style>
</head>
<body>
    <h1>Configurazione File INI</h1>
    <form method="POST">
        <h2>Sezione DEFAULT</h2>
        <ul>
            {% for key, value in config["DEFAULT"].items() %}
                <li style="padding-bottom: 10px;padding-top: 10px;">
                    <label for="DEFAULT.{{ key }}">{{ key }}:</label>
                    {% if key == "anniselezionati" %}
                        <textarea id="DEFAULT.{{ key }}" name="DEFAULT.{{ key }}" placeholder="Inserisci anni separati da virgola. Esempio: 2019,2020,2021">{{ value }}</textarea>
                    {% elif key == "settori" %}
                        <textarea id="DEFAULT.{{ key }}" name="DEFAULT.{{ key }}" placeholder="Inserisci settori separati da virgola. Esempio: MAT01,MAT02A,MAT02B">{{ value }}</textarea>
                    {% elif key == "attesa_per_caricamento" or key == "tempo_singola_ricerca" %}
                        <input type="number" id="DEFAULT.{{ key }}" name="DEFAULT.{{ key }}" value="{{ value }}" step="1" min="0">
                    {% elif key == "headless" or key == "driverpath" %}
                        <select name="DEFAULT.{{ key }}" id="DEFAULT.{{ key }}">
                            <option value="True" {% if value == "True" %}selected{% endif %}>True</option>
                            <option value="False" {% if value == "False" %}selected{% endif %}>False</option>
                        </select>
                    {% elif key == "browser" %}
                        <select name="DEFAULT.{{ key }}" id="DEFAULT.{{ key }}">
                            <option value="Edge" {% if value == "Edge" %}selected{% endif %}>Edge</option>
                            <option value="Chrome" {% if value == "Chrome" %}selected{% endif %}>Chrome</option>
                        </select>
                        {% elif key == "caratteredelimitatorecsv" %}
                        <select name="DEFAULT.{{ key }}" id="DEFAULT.{{ key }}">
                            <option value="," {% if value == "," %}selected{% endif %}>,</option>
                            <option value=";" {% if value == ";" %}selected{% endif %}>;</option>
                            <option value="|" {% if value == "|" %}selected{% endif %}>|</option>
                        </select>
                    {% else %}
                        <input type="text" id="DEFAULT.{{ key }}" name="DEFAULT.{{ key }}" value="{{ value }}">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% for section, options in config.items() %}
            {% if section != "DEFAULT" %}
            <div class="section" style="padding-top: 10px;padding-bottom: 10px;">
                <div class="section-title" onclick="toggleSection('link-{{ section }}')"><h2>Sezione: {{ section }}</h2></div>
                <div class="section-content" id="link-{{ section }}">
                    {% for key, value in options.items() %}
                        <li style="padding-bottom: 10px;padding-top: 10px;">
                            <label for="{{ section }}.{{ key }}">{{ key }}:</label>
                            {% if key == "anniSelezionati" %}
                                <textarea id="{{ section }}.{{ key }}" name="{{ section }}.{{ key }}" placeholder="Inserisci anni separati da virgola. Esempio: 2019,2020,2021">{{ value }}</textarea>
                            {% elif key == "settori" %}
                                <textarea id="{{ section }}.{{ key }}" name="{{ section }}.{{ key }}" placeholder="Inserisci settori separati da virgola. Esempio: MAT01,MAT02A,MAT02B">{{ value }}</textarea>
                            {% elif key == "attesa_per_caricamento" or key == "tempo_singola_ricerca" %}
                                <input type="number" id="{{ section }}.{{ key }}" name="{{ section }}.{{ key }}" value="{{ value }}" step="1" min="0">
                            {% elif key == "headless" or key == "driverPath" %}
                                <select name="{{ section }}.{{ key }}" id="{{ section }}.{{ key }}">
                                    <option value="True" {% if value == "True" %}selected{% endif %}>True</option>
                                    <option value="False" {% if value == "False" %}selected{% endif %}>False</option>
                                </select>
                            {% elif key == "browser" %}
                                <select name="{{ section }}.{{ key }}" id="{{ section }}.{{ key }}">
                                    <option value="Edge" {% if value == "Edge" %}selected{% endif %}>Edge</option>
                                    <option value="Chrome" {% if value == "Chrome" %}selected{% endif %}>Chrome</option>
                                </select>
                            {% else %}
                                <textarea type="text" id="{{ section }}.{{ key }}" name="{{ section }}.{{ key }}"> {{ value }}</textarea>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
            {% endif %}
        {% endfor %}
               
        
        <button type="submit">Salva Modifiche</button>
    </form>

    <br>
    <br>
    <form action="/shutdown" method="POST">
        <button type="submit" style="color: red;">Chiudi il Server</button>
    </form>


    <script>
        // Funzione per mostrare/nascondere una sezione
        function toggleSection(sectionId) {
            const section = document.getElementById(sectionId);
            section.classList.toggle('open');
        }
    </script>
</body>
</html>
